<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" >
	
     
     <appender name="file"	class="org.apache.log4j.RollingFileAppender">
		<param name="Append" value="true"/>		
		<param name="Threshold" value="ALL"/>	
		<param name="maxFileSize" value="50MB" />
		<param name="maxBackupIndex" value="5" />
		<param name="File" value="${catalina.home}/logs/ATMA_API.log" />
			
		<layout class="org.apache.log4j.PatternLayout">			
			<param name="ConversionPattern" value="[ATMA_API]: %d{ISO8601}, %r, %l, %m %n"/>
		</layout>
	</appender>
         
     <appender name="console" class="org.apache.log4j.ConsoleAppender">
         <param name="Threshold" value="ALL"/>
   		<layout class="org.apache.log4j.PatternLayout">
 		<param name="ConversionPattern" value="[ATMA_API]: %d{ISO8601}, %r, %l, %m %n"/>
		</layout>
     </appender>    
       <logger name="org.hibernate">
        <level value="info" />
        <appender-ref ref="file"/>
    </logger>
    <logger name="java.sql.PreparedStatement" additivity="false">
    <level value="INFO"/>
    <appender-ref ref="file"/>
</logger>
   
       <root>
	  <priority value="info"></priority>	  
	  <appender-ref ref="file"/>	 
	 <appender-ref ref="console"/>	
	</root>
</log4j:configuration>